// tailwind:
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #2d3436;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
